body {
    overflow: hidden;
}

h1 {
    align-items: center;
    display: flex;
    height: calc(100vh - calc(4em / 3));
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

@media (max-width: 525px) {
    h1 {
        font-size: 1.25em;
    }
}