@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";

@font-face {
    font-family: "BetterPixels";
    src: url("./BetterPixels.ttf") format("truetype");
}

body {
    background-color: black;
    color: white;
    font-family: "BetterPixels";
    text-align: center;
}

header, main, footer {
    max-width: 1280px;
    margin: 1em auto;
    width: 90%;
}

header a img:hover {
    opacity: .75;
}

header nav ul {
    list-style: none;
    padding-left: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li:not(:last-child):after {
    content: "|";
    position: relative;
    right: .05em;
    top: .1em;
}

header nav ul li a:not(:hover) {
    text-decoration: none;
}

p {
    text-align: center;
}

a {
    color: #5ba8ff;
}

img {
    max-width: 100%;
}

table {
    border-bottom: 1px solid white;
    border-collapse: collapse;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-block-end: 1em;
    margin-block-start: 1em;
    width: 100%;
}

table th {
    border-top: 1px solid white;
    border-right: 1px solid white;
    font-weight: 400;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-none {
    display: none;
}

.mt-0 {
    margin-top: 0;
}


@media (min-width: 768px) {
    body {
        font-size: 2em;
    }
    .bi-image img {
        width: 47.5%;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 1.5em;
    }
    .bi-image img {
        width: 100%;
    }
    .bi-image img:first-child {
        margin-bottom: .5em;
    }
}
