@import "./global.css";

table tbody tr:first-child th:nth-child(2) {
    color: gold;
}

table tbody tr:nth-child(2) th:nth-child(2) {
    color: silver;
}

table tbody tr:nth-child(3) th:nth-child(2) {
    color: #cd7f32;
}