p {
    font-size: 2em;
}

#screenshots {
    padding: 0 5%;
}

#screenshots img {
    max-width: 40em;
    width: 47.5%;
}

#blurb {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 41em;
    width: 90%;
}

#links {
    padding: 0 5%;
}

#links p:first-child a {
    color: cornflowerblue;
}

#links p:last-child a {
    color: orange;
}

@media (min-width: 768px) {
    #links {
        display: flex;
        justify-content: center;
    }
    #links p:first-child {
        margin-right: 5%;
    }
}

@media (max-width: 767px) {
    #screenshots img {
        width: 95%;
    }
    #screenshots img:not(:last-child) {
        display: none;
    }
}