@import "./global.css";

.pagination-button {
    margin-right: 5px;
}

.pagination-label {
    margin-left: 10px;
    margin-right: 5px;
}

.pagination-input {
    width: 50px;
    padding: 2px;
    text-align: center;
    border-radius: 15px; 
    background-color: #595956; 
    border: none;
    color: white;
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
