@import "./global.css";

.pagination {
    display: flex;
    align-items: center;
}

.pagination-button {
    margin-right: .25em;
}

.pagination-label {
    margin-left: .5em;
    margin-right: .25em;
}

.pagination-input {
    width: 1.5em;
    padding: .125em;
    text-align: center;
    border-radius: .25em; 
    background-color: #595956; 
    border: none;
    color: white;
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

#search-pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#search-bar-container {
    display: flex;
    align-items: center;
}

#search-bar {
    width: 7.5em;
    padding: .125em;
    border-radius: .25em;
    border: 1px solid #ccc;
    margin-right: .5em;
    font-size: .85em; 
}

#search-button {
    padding: .125em .25em;
    border-radius: .25em;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

#search-button:hover {
    background-color: #555;
}

#pagination-top,
#pagination-bottom-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#search-results {
    text-align: left;
    margin-top: 10px;
    color: white;
}

.search-message {
    color: #ffffff;
    text-align: center;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-result {
    color: white;
    margin: 0;
}

/* Button that closes the search results and resets the search */
.clear-search-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: .25em;
    cursor: pointer;    
    padding: .1em;
    width: 1.25em;
    height: 1.25em;
    margin-left: .5em;
}

.clear-search-button:hover {
    background-color: #555;
}

/* Media query for smaller devices */
@media (max-width: 960px) {
    #search-pagination-container {
        flex-direction: column;
        align-items: center;
    }
}