@font-face {
    font-family: "BetterPixels";
    src: url("./BetterPixels.ttf") format("truetype");
}

body {
    background-color: black;
    color: white;
    font-family: "BetterPixels";
}

h1 {
    font-size: 6em;
    font-weight: 400;
    text-align: center;
}

p {
    font-size: 2em;
    text-align: center;
    padding: 0 5%;
}

a {
    color: green;
}